/* box-shadow: 0 4px 12px #000; background: #101014; letter-spacing: -2px; font-size: 19px; #8E8E8E */
.card { background: #000000; }
/* .x { backdrop-filter: blur(9px); transition: all 500ms linear; opacity: .5;
   font-family: Papyrus; border-radius: 7px } */
/* .g{text-shadow:0 0 9px red} .p:active{transition:all 500ms} */
